.vs/

*.dll
*.drv
*.exe
*.ilk
*.ipdb
*.obj
*.ncb
*.pch
*.pdb
*.tlog
*.tmp
*.VC.db

Bin/
SbieDebug
SbieRelease
MsgSbieRelease
*.log
**/*_h.h
**/*_i.c
**/*_p.c
msgs/msgs.mc
**/*-1033.txt
